:root {
    --section-padding-top: 50px;
    --section-padding-side: 90px;
    --upper-right-icon-width: 60px;
    --bright: #D0D0D0;
}

* {
    box-sizing: border-box;
    color: var(--bright);
}

body {
    font-size: 14px;
    background-color: black;
}

div#container {
    background-image: url(../img/light-background.png);
    background-position: 50% 57%;
    background-size: 180%;
}

header {
    height: 100vh;
    padding: 60px var(--section-padding-side) 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>img {
    width: var(--upper-right-icon-width);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.icon {
    background-size: cover;
    background-position: center;
    display: block;
}

nav ul li .icon,
footer ul li .icon {
    opacity: .5;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.icon:hover {
    opacity: 1
}

.icon-instagram {
    background-image: url(../img/icon/instagram.svg);
}

.icon-facebook {
    background-image: url(../img/icon/facebook-square.svg);
}

.icon-linkedin {
    background-image: url(../img/icon/linkedin.svg);
}

.icon-instagram-dark {
    background-image: url(../img/icon/instagram-dark.svg);
}

.icon-facebook-dark {
    background-image: url(../img/icon/facebook-square-dark.svg);
}

.icon-linkedin-dark {
    background-image: url(../img/icon/linkedin-dark.svg);
}

.icon-mail {
    background-image: url(../img/icon/envelope-solid.svg);
}

header main {
    padding: var(--section-padding-top) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: calc(100% - var(--upper-right-icon-width));
    position: relative;
}

header main img {
    min-width: 160px;
    max-width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 30px));
}

header main .icon {
    width: 30px;
    height: 30px;
}

.icon-chevron-down {
    background-image: url(../img/icon/chevron.svg);
}

header+main {
    padding: var(--section-padding-top) var(--section-padding-side);

}

header+main header {
    height: auto;
    padding: 30px 0 0;
    margin-bottom: 130px;
}

blockquote {
    color: #ffffff;
    font-size: 1.2em;
    font-family: stratos-lights, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

strong {
    color: #ffffff;
    font-weight: 700;
}

h1 {
    font-size: 3em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 40px;
}

p {
    font-size: 2.4em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 45px;
}

#userinfo {
    overflow: auto;
}

legend {
    margin-bottom: 50px;
}

legend h2 {
    font-size: 3em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

legend h3 {
    font-size: 1.2em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#name {
    display: flex;
    margin-bottom: 35px;
}

textarea:focus,
input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--bright);
    -webkit-box-shadow: 0 0 0px 0px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bright);
}

#userinfo input {
    color: var(--bright);
    background-color: transparent;
    border: none;
    border-bottom: var(--bright) 1px solid;
    width: 100%;
    padding: 0 0 10px 0;
    font-size: 6.4em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}

#name input {
    width: 50%;
    margin-right: 10px;
}

#name input+input {
    margin-left: 10px;
}

#userinfo fieldset+input {
    margin-bottom: 35px;
}

#userinfo input[type="email"] {
    margin-bottom: 35px;
}

#interests {
    display: flex;
    margin-bottom: 35px;
}

#interests input {
    display: none;
}

#interests label {
    width: calc(100%/3);
    background-color: #434344;
    font-size: 1.57em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 16px 16px 16px 30px;
    min-height: 300px;
    color: rgba(208, 208, 208, 0.5);
}

#interests input:checked+label {
    background-color: rgba(100%, 100%, 100%, 0.5);
    color: var(--bright);
}

#interests input:checked+label div {
    background-color: #D0D0D0;
    border-color: #ffffff;
}

#interests label div {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: #818181 1px solid;
    margin-left: auto;
    margin-bottom: 10px;
}

#submit {
    display: flex;
    justify-content: flex-end;
}

#userinfo input[type="submit"] {
    padding: 0 60px 0 0;
    width: max-content;
    border: none;
    margin: 0;
    font-size: 2.9em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#userinfo input[type="submit"]:hover,
#userinfo input[type="submit"]+label:hover {
    cursor: pointer;
}

#userinfo input[type="submit"]+label {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../img/icon/arrow-right-circle.svg);
}

footer {
    display: flex;
    position: relative;
    background-color: var(--bright);
    padding: var(--section-padding-top) var(--section-padding-side);
    justify-content: space-between;
}

.icon-swivvle {
    background-image: url(../img/logo/small/Icon-whiteLORES.png);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    padding: 3px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: 3px;
}

footer img {
    width: 80px;
    padding-bottom: 100px;
}

#footer-info {
    display: flex;
}

#footer-info section:first-child {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

#footer-info section:first-child div+div {
    margin-top: auto;
}

footer h4 {
    color: black;
    font-family: stratos-lights, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

footer a {
    text-decoration: none;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-right: 10px;
}

footer button,
footer span,
footer a {
    background-color: transparent;
    border: none;
    color: #767676;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer button.selected {
    color: black;
}

@media only screen and (max-width: 1024px) {
    :root {
        --section-padding-top: 50px;
        --section-padding-side: 90px;
        --upper-right-icon-width: 40px;
        --bright: #D0D0D0;
    }

    #container {
        background-repeat: no-repeat;
        background-size: 250%;
    }

    #interests label {
        width: 100%;
    }